*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}
h1{
    color: #CC0033;
    text-align: center;
}
th,
td{
    border: 1px solid red;
    padding: .5rem;
}
table{
    width: 96%;
    max-width: 100%;
    margin: 16px 2%;
    font-size: 12px;
    border-collapse:collapse;
    text-align: center;
    box-shadow: 5px 10px #888888;
}
.main-title{
    background-color: #CC0033;
    color: white;
    font-weight: bold;
}
.un-format{
    text-align: start;
}